<h1>Home</h1>

<div class="page-container home-page">
    <aside class="left">
      {{profile-glance user=sessionAccount.currentUser}}
      {{#if session.isAuthenticated}}
          <button class="logout" {{action 'logout'}}>Log out</button>
      {{/if}}
    </aside>

    <main>
      {{status-update openComposeModal=(action 'openComposeModal')}}
      {{chirps-list chirps=model.chirps}}
    </main>
</div>
{{outlet}}
